/* Corners */
/* GO */
.go {
    position: relative;
}

.go .container {
    justify-content: flex-start;
    transform: rotate(45deg);
}

.go .go-word {
    font-size: 60px;
    color: #f50c2b;
}

.go .arrow {
    font-size: 45px;
    color: #f50c2b;
    position: absolute;
    bottom: -5px;
    right: 5px;
}

/* JAIL */

.jail {
    display: grid;
    grid-template-columns: repeat(10, 12.5px);
    grid-template-rows: repeat(10, 12.5px);
    justify-content: center;
    align-items: center;
}

.jail .drawing {
    grid-row: 1/8;
    grid-column: 1/7;
    width: 87.5px;
    height: 87.5px;
    background: #fa811d;
    border-bottom: 2px solid #080808;
    border-left: 2px solid #080808;

}

.jail .just {
    grid-row: 8;
    grid-column: 5;
    padding-top: 5px;
}

.jail .visiting {
    grid-row: 6;
    grid-column: 8;
    transform: rotate(270deg);
    padding-top: 5px;
}

.jail .container {
    align-items: center;
    justify-content: center;
    padding: 0px 0px 30px 30px;
}

.jail .name {
    font-size: 14px;
}

.jail .window {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 55px;
    height: 55px;
    background: #fafaf8;
    border: 2px solid #080808;
}

.jail .person {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 40px;
}

.jail .bar {
    height: 55px;
    width: 2px;
    background: #080808;
}

/* REST */

.rest .name {
    font-size: 16px;
}

.rest .drawing {
    font-size: 60px;
    color: #640303;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* PARKING */

.free-parking .name {
    font-size: 16px;
}

.free-parking .drawing {
    font-size: 60px;
    color: #f50c2b;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* CELLS */

.community-chest .drawing {
    font-size: 50px;
    color: #ffdc73;
}

.chance .drawing {
    font-size: 90px;
    color: #5e3577;
}

.sell-house .drawing {
    font-size: 30px;
    color: #c0eb51;
}

.buy-house .drawing {
    font-size: 30px;
    color: #d2661e;
}

.railway .drawing,
.transport .drawing {
    font-size: 50px;
    color: #b02f7c;
}
.airport .drawing,
.port .drawing {
    font-size: 50px;
    color: #5a6dba;
}

.radio .drawing,
.postoffice .drawing
 {
    font-size: 50px;
    color: #f7629b;
}